VITE_FIREBASE_API_KEY=AIzaSyDHvEnCC_yluuO5d1yQoirdoI7aiIzMRss
VITE_FIREBASE_AUTH_DOMAIN=elantraa-4d64a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elantraa-4d64a
VITE_FIREBASE_STORAGE_BUCKET=elantraa-4d64a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=160821098552
VITE_FIREBASE_APP_ID=1:160821098552:web:c374317a13d7f8566acecd
VITE_RAZORPAY_KEY_ID=
VITE_ADMIN_EMAIL=admin@elantraa.com
